@{
    ViewData["Title"] = "Home Page";
}

@await Component.InvokeAsync("MyInfo")

		@*begin partial 
	<partial name="Projects" /> 
	@await Html.PartialAsync("Projects")
	@await Html.PartialAsync("Projects", new List<Project>())
		end partial *@
@*
		load view component*@ 

		@await Component.InvokeAsync("Projects")
	@*	end load view component*@ 
		<div class="container">
			<hr>
		</div>

 @await Component.InvokeAsync("OSCodes")
