@model Sample_CV.Models.Project
@{
    ViewData["Title"] = "اطلعات بیشتر";
}
@if (Model!= null)
{



					<section class="about-me-section p-3 p-lg-5 theme-bg-light">
			<div class="container">
				<div class="profile-teaser media flex-column flex-lg-row">
					<img class="profile-image mb-3 mb-lg-0 ml-lg-5 mr-md-0" src="~/assets/images/project/@Model.Image" alt="">
					<div class="media-body">
						<h2 class="name font-weight-bold mb-1">@Model.Name</h2>
						<div class="bio mb-4"> @Model.Discription </div>
						
					</div>

				</div>
			</div>
		</section>
}
